body {
  background-color: #f7f7f7 !important;
  font-family: "Lato", sans-serif;
}
.cryptotable {
  border: 1px solid blue;
  color: grey;
  font-size: large;
  text-align: left;
  padding: 15px;
}
.cryptocell {
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
